:root {
  --off-white: #fafafa;
}

h1 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 40px;
}

.hamburger-menu {
  float: left;
  display: none;
  cursor: pointer;
  font-size: 26px;
  margin-left: 10px;
  margin-top: 15px;
}

nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(40, 11, 186, 0.15);
}

.nav-logo-header {
  float: left;
  height: 60px;
  width: 60px;
  margin-top: 6px;
}

.nav-logo {
  height: 70px;
  width: 70px;
  margin-top: 1px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  display: flex;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 21px;
  transition: transform 0.2s ease-in-out;
}

.nav-content.open {
  transform: translateX(0);
}

@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }

  .nav-content {
    position: fixed;
    top: 50px;
    left: 0;
    margin-top: 20px;
    margin-right: -10px;
    width: 100%;
    height: 10%;
    background-color: #f5f9fc; /* Adjust the background color */
    flex-direction: column;
    transform: translateX(-100%);
  }
}

.nav-item {
  display: inline;
  margin-left: 3rem;
  color: slategrey;
}

.nav-item:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.nav-item .active {
  /* border-bottom: 2px solid #333; */
  font-weight: bold;
  color: black;
}

.nav-item-janice-pickron {
  margin-left: 10px;
  float: left;
  margin-top: 20px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  color: black;
}

.nav-item-janice-pickron:hover {
  color: black;
  cursor: pointer;
}

.table-center {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.section {
  display: grid;
  place-items: center;
  height: 100%;
  font-size: 18px;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

.about-content {
  margin: auto;
  font-size: 20px;
}

.about-me {
  padding: 10px;
  vertical-align: top;
}

.project-content {
  vertical-align: top;
  padding: 10px;

}

a {
  text-decoration: none;
}

.intro {
  font-size: 32px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.code-design-build {
  color: aqua;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.computer_pad {
  place-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.jan-headshot {
  height: 80vmin;
  pointer-events: none;
  border-radius: 10px;
  margin-left: 30px;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}
